@white: #FFFFFF;
@grey-dark4: #7A7B77;
@grey-dark3: rgba(122, 123, 119, 0.8);
@grey-dark2: #B4B4B4;
@grey-dark1: #C4C4C4;
@black: #192028;
@blue-light: #0094DF;
@blue-dark: #005F99;

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset style */

.h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  align-items: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: @white;
}

.h2 {
  color: @black;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: @black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header.container {
  display: flex;
  margin-bottom: 120px;
}

.logo-menu {
  width: 382px;
  height: 792px;
  background-color: @blue-dark;
  padding: 32px 75px;
  display: flex;
  flex-direction: column;
  &__navigation {
    margin-bottom: 48px;
  }
  &__logo {
    text-align: center;
    margin-bottom: 72px;
  }
  &__title {
    //font-family: Open Sans;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
  }
  &__title--white {
    color: @white;
  }
}

.navigation {
  &__item {
    font-size: 14px;
    line-height: 17px;
    color: @white;
    margin-bottom: 24px;
  }
  &__link {
    text-decoration: none;
    color: @white;
    &:visited, &:active, &:focus {
      color: @white;
    }
  }
  &__link--active {
    font-weight: 600;
    border-bottom: 1px solid @white;
    display: inline-block;
    padding: 0 5px 5px;
  }
}

.contacty {
  display: flex;
  margin-bottom: 24px;
  &__list {
    display: flex;
    margin-bottom: 24px;
  }
  &__item {
    margin-right: 20px;
  }

  &__phone {
    display: block;
    color: @white;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  &__address {
    color: @white;
    background: url("../img/google-place.png") no-repeat left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 24px;
    padding-left: 20px;
  }

  &__img {
    width: 16px;
    height: 16px;
  }

  &__socseti-list {
    display: flex;
  }

  &__socseti-item {
    margin-right: 20px;
  }
}

.header-slider {
  width: 1058px;
  height: 792px;
  background-image: url("../img/header-slide1.png");
  padding: 32px 80px 48px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__web {
    text-transform: uppercase;
    color: @white;
    align-self: flex-end;
    margin-bottom: 8px;
  }

  &__web-link {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/web-camera.png) no-repeat left;
    font-size: 10px;
    line-height: 24px;
    padding-left: 36px;
    color: white;
    text-decoration: none;
  }

  &__lang {
    height: 32px;
    width: 85px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    &-link {
      text-decoration: none;
      color: @white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__lang-item {
    color: @white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid @white;
    margin-bottom: 24px;
  }

  &__main-header {
    margin: 0 300px 224px 0;
  }

  &__select-flat {
    background: rgba(255, 255, 255, 0.8) url("../img/key.png") no-repeat 14px;
    padding: 16px 14px;
    color: @black;
    width: 193px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }

  &__news {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 0 86px;
  }
  &__news-item {
    width: 411px;
    height: 144px;
    color: @black;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 18px 3px rgba(25, 32, 40, 0.24);
    padding: 26px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-size: 14px;
      line-height: 17px;
      color: @black;
    }
    &-data {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__controls {
    position: absolute;
    bottom: 168px;
    right: 80px;
    z-index: 2;
    text-align: right;
    width: 120px;
    display: flex;
    justify-content: space-between;
    &-item {
      width: 48px;
      height: 48px;
      background-color: #fff;
    }
    &-link {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.rasporka {
  flex-grow: 1;
}

/* main content */

.about {
  margin-bottom: 120px;
  &__title {
    padding: 0 1058px 72px 80px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__video {
    width: 708px;
    height: 616px;
    padding: 105px 50px 105px 80px;
    background-color: @blue-dark;
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #fff;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    &-text {
      flex-grow: 1;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      margin-bottom: 24px;
    }
  }
  &__slider {
    margin: 0px 85px;
    display: flex;
    justify-content: space-between;
    width: 562px;
    position: relative;
    &-left {
      width: 270px;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: @grey-dark1;
    }
    &-right {
      width: 270px;
      border-style: solid;
      border-width: 8px 8px 8px 0;
      border-color: @blue-light;
    }
    &-content {
      width: 450px;
      height: 524px;
      position: absolute;
      top: 48px;
      left: 55px;
      background-image: url("../img/about-slide1.png");
    }
    &-controls {
      margin: 388px 20px 0 4px;
      display: flex;
      justify-content: space-between;
      &-item {
        width: 48px;
        height: 48px;
        background-color: #fff;
      }
      &-link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__more {
    display: flex;
    justify-content: space-between;
    margin: 72px 165px 120px 260px;
    &-items {
      height: 100px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      vertical-align: bottom;
      display: flex;
      align-items: flex-end;
      &--icon-wind {
        background: url("../img/wind.png") no-repeat center top;
      }
      &--icon-lift {
        background: url("../img/lift.png") no-repeat center top;
      }
      &--icon-house {
        background: url("../img/house.png") no-repeat center top;
      }
    }
  }
}

.territory {
  margin: 0 80px 72px;
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 72px;
    &-item {
      width: 48%;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
    }
  }
}

