/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset style */
.page-header {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-title {
  color: #192028;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
.h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #192028;
}
.clearfix {
  clear: both;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header.container {
  display: flex;
  margin-bottom: 120px;
}
.logo-menu {
  width: 382px;
  height: 792px;
  background-color: #005F99;
  padding: 32px 75px;
  display: flex;
  flex-direction: column;
}
.logo-menu__logo {
  text-align: center;
  margin-bottom: 72px;
}
.logo-menu__title {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}
.logo-menu__navigation {
  margin-bottom: 48px;
}
.navigation__item {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.navigation__link {
  text-decoration: none;
  color: #FFFFFF;
}
.navigation__link:visited,
.navigation__link:active,
.navigation__link:focus {
  color: #FFFFFF;
}
.navigation__link_active {
  font-weight: 600;
  border-bottom: 1px solid #FFFFFF;
  display: inline-block;
  padding: 0 5px 5px;
}
.contacts__list {
  display: flex;
  margin-bottom: 24px;
}
.contacts__item {
  margin-right: 20px;
}
.contacts__phone {
  display: block;
  color: #FFFFFF;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}
.contacts__address {
  color: #FFFFFF;
  background: url("../img/google-place.png") no-repeat left;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 24px;
  padding-left: 20px;
  width: 270px;
}
.contacts__img {
  width: 16px;
  height: 16px;
}
.contacts__socseti-list {
  display: flex;
}
.contacts__socseti-item {
  margin-right: 20px;
}
.header-slider {
  width: 1058px;
  height: 792px;
  background-image: url("../img/header-slide1.png");
  padding: 32px 80px 48px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header-slider__web {
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: flex-end;
  margin-bottom: 8px;
}
.header-slider__web-link {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/web-camera.png) no-repeat left;
  font-size: 10px;
  line-height: 24px;
  padding-left: 36px;
  color: white;
  text-decoration: none;
}
.header-slider__lang {
  height: 32px;
  width: 85px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.header-slider__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-slider__lang-item {
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  margin-bottom: 24px;
}
.header-slider__main-header {
  margin: 0 300px 224px 0;
}
.header-slider__select-flat {
  background: rgba(255, 255, 255, 0.8) url("../img/key.png") no-repeat 14px;
  padding: 16px 14px;
  color: #192028;
  width: 193px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.header-slider__news {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 0 86px;
}
.header-slider__news-item {
  width: 411px;
  height: 144px;
  color: #192028;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 18px 3px rgba(25, 32, 40, 0.24);
  padding: 26px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-slider__news-item-title {
  font-size: 14px;
  line-height: 17px;
  color: #192028;
}
.header-slider__news-item-data {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
}
.header-slider__controls {
  position: absolute;
  bottom: 168px;
  right: 80px;
  z-index: 2;
  text-align: right;
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.header-slider__controls-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.spacer {
  flex-grow: 1;
}
/* main content */
.about-padding {
  margin-bottom: 120px;
}
.about__title {
  padding: 0 1058px 72px 80px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about__video {
  width: 708px;
  height: 616px;
  padding: 105px 50px 105px 80px;
  background-color: #005F99;
  display: flex;
  flex-direction: column;
}
.about__video-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.about__video-text {
  flex-grow: 1;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 24px;
}
.about__slider {
  margin: 0px 85px;
  display: flex;
  justify-content: space-between;
  width: 562px;
  position: relative;
}
.about__slider-left {
  width: 270px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: #C4C4C4;
}
.about__slider-right {
  width: 270px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: #0094DF;
}
.about__slider-content {
  width: 450px;
  height: 524px;
  position: absolute;
  top: 48px;
  left: 55px;
  background-image: url("../img/about-slide1.png");
}
.about__slider-controls {
  margin: 388px 20px 0 4px;
  display: flex;
  justify-content: space-between;
}
.about__slider-controls-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.about__more {
  display: flex;
  justify-content: space-between;
  margin: 72px 165px 120px 260px;
}
.about__more-items {
  height: 100px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
}
.about__more-items_icon-wind {
  background: url("../img/wind.png") no-repeat center top;
}
.about__more-items_icon-lift {
  background: url("../img/lift.png") no-repeat center top;
}
.about__more-items_icon-house {
  background: url("../img/house.png") no-repeat center top;
}
.territory-padding {
  margin: 0 80px 72px;
}
.territory__title {
  margin-bottom: 40px;
}
.territory__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
.territory__text-item {
  width: 48%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.territory__gallery {
  margin: -11px;
}
.territory__gallery-image {
  float: left;
  margin: 11px;
  position: relative;
}
.territory__gallery-image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #005F99;
  opacity: 0.7;
  padding: 4px 16px;
  height: 64px;
  display: flex;
  align-items: center;
}
.infrastru-padding {
  margin: 0 80px 120px;
}
.infrastru {
  position: relative;
  height: 824px;
  width: 1280px;
  background: url("../img/infrastructura-tabs-1.png") no-repeat left bottom;
}
.infrastru__title {
  margin-bottom: 72px;
}
.infrastru__tab-menu {
  display: flex;
  justify-content: space-between;
  width: 630px;
}
.infrastru__tab-menu-item {
  padding-bottom: 8px;
  width: 193px;
  display: flex;
  justify-content: center;
}
.infrastru__tab-menu-link {
  color: #192028;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.infrastru__tab-menu-link_active {
  border-bottom: 1px solid #005F99;
}
.infrastru__tab-panel {
  position: absolute;
  right: 0;
  top: 96px;
  width: 520px;
  height: 490px;
}
.panel-info {
  background-color: #005F99;
  height: 490px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
}
.panel-info__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
}
.panel-info__text {
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: 'salt' on;
  color: #fff;
  margin-bottom: 10px;
}
.panel-info_hidden {
  display: none;
}
.panel-info__list {
  list-style-type: disc;
  color: #fff;
}
.panel-info__item {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: 'salt' on;
  color: #fff;
}
/* jquery some easy style */
.ui-state-active {
  border-bottom: 1px solid #005F99;
}
.gallery-padding {
  margin-bottom: 120px;
}
.gallery__title {
  margin: 0 0 72px 80px;
}
.gallery__controls {
  width: 120px;
  margin: 0 118px 7px 1202px;
  display: flex;
  justify-content: space-between;
}
.gallery__controls-button {
  width: 48px;
  height: 48px;
  background-color: #0094DF;
  color: #FFFFFF;
  font-size: 1.5rem;
}
.gallery__images {
  height: 432px;
  display: flex;
  overflow: hidden;
}
.gallery__image:last-child {
  margin: 0;
}
.gallery__image {
  margin-right: 24px;
}
.gallery__all-gallery-link {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #192028;
  margin: 40px 0 0 1275px;
  display: block;
  text-decoration: none;
}
.our-advantages {
  display: flex;
  justify-content: space-between;
}
.our-advantages__title {
  margin-bottom: 72px;
}
.our-advantages__list {
  display: flex;
  flex-flow: row wrap;
}
.our-advantages__item {
  width: 411px;
  margin: 0 24px 72px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.our-advantages__item-icon {
  background: #005F99;
  border-radius: 50%;
  margin-right: 37px;
  width: 72px;
  height: 72px;
  position: relative;
}
.our-advantages__item-icon:after {
  content: '';
  width: 32px;
  height: 32px;
  background: transparent;
  position: absolute;
  top: 20px;
  left: 20px;
}
.our-advantages__wrapper {
  width: 925px;
}
.our-advantages__logo-man {
  width: 515px;
  height: 632px;
  position: relative;
}
.our-advantages__logo-man-fill-bg {
  width: 382px;
  height: 568px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #0094DF;
  z-index: -1;
}
.our-advantages__ask {
  height: 136px;
  width: 515px;
  padding-left: 133px;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #005F99;
}
.our-advantages__ask-title {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}
.our-advantages__ask-link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.advantages-icon-edit:after {
  background-image: url("../img/advantages-icon-edit.png");
}
.advantages-icon-house:after {
  background-image: url("../img/advantages-icon-house.png");
}
.advantages-icon-medal:after {
  background-image: url("../img/advantages-icon-medal.png");
}
.advantages-icon-coin:after {
  background-image: url("../img/advantages-icon-coin.png");
}
.advantages-icon-hammer:after {
  background-image: url("../img/advantages-icon-hammer.png");
}
.advantages-icon-location:after {
  background-image: url("../img/advantages-icon-location.png");
}
.layouts-padding {
  margin: 0 80px 120px;
}
.layouts__title {
  margin-bottom: 72px;
}
/*# sourceMappingURL=style.css.map */