@white: #FFFFFF;
@grey-dark4: #7A7B77;
@grey-dark3: rgba(122, 123, 119, 0.8);
@grey-dark2: #B4B4B4;
@grey-dark1: #C4C4C4;
@black: #192028;
@blue-light: #0094DF;
@blue-dark: #005F99;

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset style */

button {
  cursor: pointer;
  transition: font-size 0.3s;
}

button:hover {
  font-size: medium;
}

button:focus, button:active,
input:focus, select:focus {
  outline-color: @blue-dark;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @grey-dark1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @grey-dark4;
}

.myfont (@font-weight, @font-size) {
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @font-size * 123.3 / 100;
}

.page-header {
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: @white;
  .myfont(bold, 50px)
}

.section-title {
  color: @black;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header.container {
  display: flex;
  margin-bottom: 120px;
}

.logo-menu {
  width: 382px;
  height: 792px;
  background-color: @blue-dark;
  padding: 32px 75px;
  display: flex;
  flex-direction: column;
  &__logo {
    text-align: center;
    margin-bottom: 72px;
  }
  &__title {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: @white;
  }
  &__navigation {
    margin-bottom: 48px;
  }
  &__contacts {
  }
}

.navigation {
  &__list {
  }
  &__item {
    font-size: 14px;
    line-height: 17px;
    color: @white;
    margin-bottom: 24px;
  }
  &__link {
    text-decoration: none;
    color: @white;
    &:visited, &:active, &:focus {
      color: @white;
    }
    &:hover {
      border-bottom: 1px solid #FFFFFF;
      padding: 0 8px 5px 0;
    }
  }
  &__link_active {
    font-weight: 600;
    border-bottom: 1px solid @white;
    padding: 0 8px 5px 0;
  }
}

.contacts {
  &__list {
    display: flex;
    margin-bottom: 24px;
  }
  &__item {
    margin-right: 20px;
  }
  &__phone {
    display: block;
    color: @white;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }
  &__address {
    color: @white;
    background: url("../img/google-place.png") no-repeat left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 24px;
    padding-left: 20px;
    width: 270px;
  }
  &__img {
    width: 16px;
    height: 16px;
  }
  &__socseti-list {
    display: flex;
  }
  &__socseti-item {
    margin-right: 20px;
  }
}

.header-slider {
  width: 1058px;
  height: 792px;
  background-image: url("../img/header-slide1.png");
  padding: 32px 80px 48px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__web {
    text-transform: uppercase;
    color: @white;
    align-self: flex-end;
    margin-bottom: 8px;
  }
  &__web-link {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/web-camera.png) no-repeat left;
    font-size: 10px;
    line-height: 30px;
    padding-left: 36px;
    color: white;
    text-decoration: none;
    &:hover {
      background-size: 30px;
    }
  }
  &__lang {
    height: 32px;
    width: 85px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    &-link {
      text-decoration: none;
      color: #FFFFFF;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      text-transform: uppercase;
      border: 1px solid #FFFFFF;
      margin-bottom: 24px;
      transition: font-size 0.3s;
      &:hover {
        font-size: 14px;
      }
    }
  }
  &__main-header {
    margin: 0 300px 224px 0;
  }
  &__select-flat {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px 14px;
    color: @black;
    width: 210px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  &__select-flat > span {
    margin-left: 5px;
  }
  &__news {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 0 86px;
  }
  &__news-item {
    width: 411px;
    height: 144px;
    color: @black;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 18px 3px rgba(25, 32, 40, 0.24);
    padding: 26px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-size: 14px;
      line-height: 17px;
      color: @black;
    }
    &-data {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 12px;
    }
  }
  &__controls {
    position: absolute;
    bottom: 168px;
    right: 80px;
    z-index: 2;
    text-align: right;
    width: 120px;
    display: flex;
    justify-content: space-between;
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      color: @grey-dark4;
      font-size: 16px;
      &:hover {
        font-size: xx-large;
      }
    }
  }
}

.spacer {
  flex-grow: 1;
}

/* main content */

.about-padding {
  margin-bottom: 120px;
}

.about {
  &__title {
    padding: 0 1058px 72px 80px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__video {
    width: 708px;
    height: 616px;
    padding: 105px 50px 105px 80px;
    background-color: @blue-dark;
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #fff;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      margin-bottom: 14px;
      .myfont(bold, 30px)
    }
    &-text {
      flex-grow: 1;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      margin-bottom: 24px;
    }
  }
  &__slider {
    margin: 0px 85px;
    display: flex;
    justify-content: space-between;
    width: 562px;
    position: relative;
    &-left {
      width: 270px;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: @grey-dark1;
    }
    &-right {
      width: 270px;
      border-style: solid;
      border-width: 8px 8px 8px 0;
      border-color: @blue-light;
    }
    &-content {
      width: 450px;
      height: 524px;
      position: absolute;
      top: 48px;
      left: 55px;
      background-image: url("../img/about-slide1.png");
    }
    &-controls {
      margin: 388px 20px 0 4px;
      display: flex;
      justify-content: space-between;
      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-size: 16px;
        color: @grey-dark4;
        &:hover {
          font-size: xx-large;
        }
      }
    }
  }
  &__more {
    display: flex;
    justify-content: space-between;
    margin: 72px 165px 120px 260px;
    &-items {
      height: 100px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      vertical-align: bottom;
      display: flex;
      align-items: flex-end;
      &_icon-wind {
        background: url("../img/wind.png") no-repeat center top;
      }
      &_icon-lift {
        background: url("../img/lift.png") no-repeat center top;
      }
      &_icon-house {
        background: url("../img/house.png") no-repeat center top;
      }
    }
  }
}

.territory-padding {
  margin: 0 80px 72px;
}

.territory {
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 72px;
    &-item {
      width: 48%;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
    }
  }
  &__gallery {
    //display: flex;
    //flex-flow: row wrap;
    margin: -11px;
    &-image {
      float: left;
      margin: 11px;
      position: relative;
      &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        background: @blue-dark;
        opacity: 0.7;
        padding: 4px 16px;
        height: 64px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.infrastru-padding {
  margin: 0 80px 120px;
}

.infrastru {
  position: relative;
  height: 824px;
  width: 1280px;
  background: url("../img/infrastructura-tabs-1.png") no-repeat left bottom;
  &__title {
    margin-bottom: 72px;
  }
  &__tab-menu {
    display: flex;
    justify-content: space-between;
    width: 630px;
    &-item {
      padding-bottom: 8px;
      width: 193px;
      display: flex;
      justify-content: center;
      &:hover {
        border-bottom: 1px solid @blue-light;
      }
    }
    &-link {
      color: @black;
      text-decoration: none;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      &_active {
        border-bottom: 1px solid @blue-dark;
      }
    }
  }
  &__tab-panel {
    position: absolute;
    right: 0;
    top: 96px;
    width: 520px;
    height: 490px;
  }
}

.panel-info {
  background-color: @blue-dark;
  height: 490px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  &__title {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'salt' on;
    color: #fff;
    margin-bottom: 10px;
  }
  &_hidden {
    display: none;
  }
  &__list {
    list-style-type: disc;
    color: #fff;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'salt' on;
    color: #fff;
  }
}

/* jquery some easy style */
.ui-state-active {
  border-bottom: 1px solid @blue-dark;
}

.gallery-padding {
  margin-bottom: 120px;
}

.gallery {
  &__title {
    margin: 0 0 72px 80px;
  }
  &__controls {
    width: 120px;
    margin: 0 118px 7px 1202px;
    display: flex;
    justify-content: space-between;
    &-button {
      width: 48px;
      height: 48px;
      background-color: @blue-light;
      color: @white;
      font-size: 16px;
      &:hover {
        font-size: xx-large;
      }
    }
  }
  &__images {
    height: 432px;
    display: flex;
    overflow: hidden;
  }
  &__image:last-child {
    margin: 0;
  }
  &__image {
    margin-right: 24px;
  }
  &__all-gallery-link {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: @black;
    margin: 40px 0 0 1275px;
    display: block;
    text-decoration: none;
  }
}

.our-advantages-padding {
}

.our-advantages {
  display: flex;
  justify-content: space-between;
  &__title {
    margin-bottom: 72px;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
  }
  &__item {
    width: 411px;
    margin: 0 24px 72px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    &-icon {
      background: @blue-dark;
      border-radius: 50%;
      margin-right: 37px;
      width: 72px;
      height: 72px;
      position: relative;
      flex-shrink: 0;
      &:after {
        content: '';
        width: 32px;
        height: 32px;
        background: transparent;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }
  &__wrapper {
    width: 925px;
  }
  &__logo-man {
    width: 515px;
    height: 632px;
    //background: linear-gradient(to right, #fff 133px, @blue-light 133px);
    position: relative;
    &-fill-bg {
      width: 382px;
      height: 568px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: @blue-light;
      z-index: -1;
    }
  }
  &__ask {
    height: 136px;
    width: 515px;
    padding-left: 133px;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: @blue-dark;
    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }
    &-link {
      text-decoration: none;
      color: white;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
  }
}

.advantages-icon-edit:after {
  background-image: url("../img/advantages-icon-edit.png");
}

.advantages-icon-house:after {
  background-image: url("../img/advantages-icon-house.png");
}

.advantages-icon-medal:after {
  background-image: url("../img/advantages-icon-medal.png");
}

.advantages-icon-coin:after {
  background-image: url("../img/advantages-icon-coin.png");
}

.advantages-icon-hammer:after {
  background-image: url("../img/advantages-icon-hammer.png");
}

.advantages-icon-location:after {
  background-image: url("../img/advantages-icon-location.png");
}

.layouts-padding {
  margin: 0 80px 80px;
}

.layouts {
  &__title {
    margin-bottom: 72px;
  }
  &__filter-panel {
    margin-bottom: 70px;
  }
}

.filter-panel {
  display: flex;
  flex-direction: column;
  width: 630px;
  &__labels {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: @grey-dark4;
    letter-spacing: 0.04em;
    &-flat {
      width: 216px;
    }
  }
  &__fields {
    display: flex;
    margin: 16px 0 8px;
  }
  &__floor {
    width: 194px;
    margin-right: 24px;
    padding: 8px 0;
    border: 2px solid @blue-light;
  }
  &__area {
    width: 85px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 0;
    text-align: center;
    border: 2px solid @blue-light;
  }
  &__hyphen {
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @blue-light;
  }
  &__submit {
    width: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: @grey-dark4;
    letter-spacing: 0.04em;
    border: 2px solid @blue-light;
  }
  &__submit:hover {
    cursor: pointer;
  }
  &__reset {
    margin-left: 483px;
    font-size: 10px;
    line-height: 12px;
    color: @grey-dark1;
    text-decoration: none;
  }
}

.filter-result {
  display: flex;
  justify-content: space-between;
  &__table {
    width: 520px;
    height: 434px;
    display: flex;
    flex-direction: column;
    &-head {
      display: flex;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.04em;
      color: @grey-dark4;
      border: 1px solid @grey-dark1;
      padding: 9px 9px 7.5px;
    }
    &-th {
      width: 33.3%;
      text-align: center;
    }
    &-rows {
      flex-grow: 1;
      overflow-y: scroll;
      border-style: solid;
      border-color: @grey-dark1;
      border-width: 0 1px 1px 1px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.04em;
      color: @black;
    }
    &-row {
      padding: 17px;
      display: flex;
      border-style: solid;
      border-color: @grey-dark1;
      border-width: 0 1px 1px 0;
    }
    &-row:hover {
      color: #fff;
      background-color: @blue-light;
    }
    &-td {
      width: 33.3%;
      text-align: center;
    }

  }
  &__plan {
    width: 411px;
    height: 432px;
    box-shadow: 0px 0px 16px 2px rgba(122, 123, 119, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &-img {
      align-self: center;
    }
    &-description {
      width: 302px;
      height: 432px;
    }
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.04em;
      color: @blue-light;
      margin-bottom: 32px;
    }
    &-text {
      display: block;
      width: 100%;
      height: 95px;
      font-size: 13px;
      line-height: 23px;
      letter-spacing: 0.04em;
      color: @grey-dark4;
      margin-bottom: 32px;
    }
    &-download {
      color: #fff;
      border-color: @blue-dark;
      background-color: @blue-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 48px;
      height: 56px;
      width: 100%;
    }
    &-download > span, &-request-call > span {
      margin-left: 20px;
    }
    &-input-phone {
      width: 100%;
      height: 56px;
      border-color: @blue-light;
      margin-bottom: 24px;
      padding: 0 16px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: @black;
      &::placeholder {
        color: @grey-dark1;
      }
    }
    &-request-call {
      color: #fff;
      border-color: @blue-dark;
      background-color: @blue-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      width: 100%;
    }
  }
  &__navigation {
    display: flex;
    margin: 8px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #C4C4C4;
    font-size: 16px;
    width: 32px;
    height: 32px;
    &:hover {
      color: @grey-dark4;
    }
  }
}

.our-catalog-padding {
  margin-bottom: 120px;
}

.our-catalog {
  height: 350px;
  display: flex;
  &__bg {
    width: 600px;
    background-color: @blue-light;
    position: relative;
    margin-right: 133px;
    &-img {
      position: absolute;
      top: 30px;
      left: 80px;
    }
  }
  &__form {
    width: 547px;
    & > form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &-title {
      .myfont(500, 24px);
      color: #000;
      margin-bottom: 16px;
    }
    &-text {
      .myfont(300, 14px);
      color: #000;
      margin-bottom: 24px;
    }
    &-input {
      width: 379px;
      height: 24px;
      padding: 16px;
      .myfont(300, 12px);
      color: @black;
      margin-bottom: 16px;
      border-color: @blue-light;
      &::placeholder {
        color: @grey-dark1;
      }
    }
    &-checkbox-label {
      .myfont(500, 10px);
      color: @grey-dark1;
      display: block;
      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      & > span {
        user-select: none;
        display: inline-flex;
        align-items: center;
      }
      & > span:before {
        content: "\ea10";
        font-family: icomoon;
        font-size: 16px;
        width: 1rem;
        height: 1rem;
        border: 1px solid @blue-light;
        margin-right: 0.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        flex-grow: 0;
        flex-shrink: 0;
        color: #fff;
        padding: 3px 2px;
      }
      & > input:checked + span:before {
        color: @blue-light;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }

      & > input:not(:disabled):not(:checked) + span:hover::before {
        border-color: @blue-dark;
      }
    }
    &-submit {
      width: 217px;
      height: 56px;
      background-color: @blue-dark;
      color: #fff;
      .myfont(600, 12px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

.purchase-terms-padding {
  margin-bottom: 120px;
}

.purchase-terms {
  &__title {
    margin: 0 0 72px 80px;
  }
  &__items {
    margin: 0 80px 120px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      margin-top: 40px;
      .myfont(normal, 14px);
      text-align: center;
    }
  }
  &__promotion {
    display: flex;
    margin-bottom: 184px;
  }
  &__promotion-bg {
    width: 708px;
    height: 392px;
    background-color: @blue-light;
    position: relative;
    margin-right: 24px;
  }
  &__promotion-img {
    position: absolute;
    top: 64px;
    left: 273px;
  }
  &__descr {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    &-title {
      .myfont(bold, 40px);
      letter-spacing: 0.055em;
      text-transform: uppercase;
      color: @black;
      margin-bottom: 48px;
    }
    &-text {
      .myfont(600, 14px);
      color: @black;
      margin-bottom: 8px;
    }
    &-asterisk {
      .myfont(300, 10px);
      color: @black;
    }
    &-more-details {
      width: 194px;
      height: 48px;
      background-color: @blue-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
  &__have-questions {
    margin: 0 84px;
  }
}

.have-questions {
  width: 1272px;
  height: 176px;
  &__line-top {
    display: flex;
    justify-content: space-between;
    &-left {
      border: 8px solid @grey-dark1;
      border-width: 8px 0 0 0;
      width: 200px;
      height: 0;
    }
    &-right {
      border: 8px solid @blue-light;
      border-width: 8px 0 0 0;
      width: 636px;
      height: 0;
    }
  }
  &__line-bottom {
    display: flex;
    justify-content: space-between;
    &-left {
      border: 8px solid @grey-dark1;
      border-width: 8px 0 0 0;
      width: 636px;
      height: 0;
    }
    &-right {
      border: 8px solid @blue-light;
      border-width: 8px 0 0 0;
      width: 200px;
      height: 0;
    }
  }
  &__line-center {
    display: flex;
    &-left {
      border: 8px solid @grey-dark1;
      border-width: 0 0 0 8px;
      width: 0;
      height: 160px;
    }
    &-right {
      border: 8px solid @blue-light;
      border-width: 0 8px 0 0;
      width: 0;
      height: 160px;
    }
  }
  &__content {
    flex-grow: 1;
    display: flex;
    &-wrp {
      margin: 44px 0 0 80px;
      width: 450px;
      flex-shrink: 0;
      &-title {
        .myfont(500, 24px);
        color: @black;
        margin-bottom: 16px;
      }
      &-text {
        .myfont(normal, 20px);
        color: @black;
      }
    }
    &-form {
      display: flex;
      flex-flow: row wrap;
      margin-top: 60px;
      &-input {
        width: 194px;
        height: 40px;
        padding: 8px;
        margin-right: 24px;
        border: 1px solid @grey-dark1;
        &::placeholder {
          .myfont(500, 11px);
          color: @grey-dark1;
        }
      }
      &-submit {
        width: 194px;
        height: 40px;
        background-color: @blue-dark;
        color: #fff;
        .myfont(500, 11px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-tac {
        .myfont(500, 10px);
        color: @grey-dark1;
        display: block;
        & > input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
        & > span {
          user-select: none;
          display: inline-flex;
          align-items: center;
        }
        & > span:before {
          content: "\ea10";
          font-family: icomoon;
          font-size: 16px;
          width: 1rem;
          height: 1rem;
          border: 1px solid @grey-dark1;
          margin-right: 0.5rem;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          flex-grow: 0;
          flex-shrink: 0;
          color: #fff;
          padding: 2px;
        }
        & > input:checked + span:before {
          color: @blue-light;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        & > input:not(:disabled):not(:checked) + span:hover::before {
          border-color: @grey-dark4;
        }
      }
    }
  }
}