@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?2uukr');
  src:  url('icomoon.eot?2uukr#iefix') format('embedded-opentype'),
    url('icomoon.ttf?2uukr') format('truetype'),
    url('icomoon.woff?2uukr') format('woff'),
    url('icomoon.svg?2uukr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-search:before {
  content: "\e986";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
